<form class="vaccination-form" [formGroup]="firstFormGroup" (ngSubmit)="ngOnSubmit()" #form="ngForm">
    <div class="container">
    <mat-form-field>
        <mat-label>Nazwa</mat-label>
        <input type="text" matInput formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Cena</mat-label>
        <input type="text" matInput formControlName="price">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Minimalny wiek</mat-label>
        <input type="text" matInput formControlName="minAge">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Placówka</mat-label>
        <input type="text" matInput formControlName="orgUnit">
    </mat-form-field>
    <button mat-button type="submit" [disabled]="!evaluateForm()">Wyślij</button>
    </div>
</form>
