<button mat-button [matMenuTriggerFor]="getKnow">
    <mat-icon>face</mat-icon> Poznaj nas
</button>

<mat-menu #getKnow="matMenu">
    <ng-template matMenuContent>
        <button mat-menu-item [matMenuTriggerFor]="nestedMenu_1">Menu 1</button>
        <button mat-menu-item [matMenuTriggerFor]="nestedMenu_2">Placówki</button>
    </ng-template>
</mat-menu>

<mat-menu #nestedMenu_1>
    <ng-template matMenuContent>
        <button mat-menu-item [matMenuTriggerFor]="nestedMenu_1_1">Nested Menu 1.1</button>
        <button mat-menu-item [matMenuTriggerFor]="nestedMenu_1_2">Nested Menu 1.2</button>
    </ng-template>
</mat-menu>

<mat-menu #nestedMenu_2>
    <ng-template matMenuContent>
        <ng-container *ngFor="let orgUnitCity of orgUnitCities">
            <button mat-menu-item (click)="navigate('/organization-units', orgUnitCity)">{{orgUnitCity}}
            </button>
        </ng-container>
    </ng-template>
</mat-menu>

<mat-menu #nestedMenu_1_1>
    <ng-template matMenuContent>
        <button mat-menu-item>Nested Menu 1.1.1</button>
    </ng-template>
</mat-menu>


<mat-menu #nestedMenu_1_2>
    <ng-template>
        <button mat-menu-item>Nested Menu 1.2.1</button>
        <button mat-menu-item>Nested Menu 1.2.2</button>
    </ng-template>
</mat-menu>

<button mat-button [matMenuTriggerFor]="doctors">
    <mat-icon>emoji_people</mat-icon> Lekarze
</button>

<mat-menu #doctors="matMenu">
    <ng-template matMenuContent>
        <button mat-menu-item [matMenuTriggerFor]="specialization">Specjalizacje</button>
    </ng-template>
</mat-menu>

<mat-menu #specialization="matMenu">
    <ng-template matMenuContent>
        <ng-container *ngFor="let spec of specs">
            <button mat-menu-item>{{spec}}</button>
        </ng-container>
    </ng-template>
</mat-menu>

<button mat-button>
    <mat-icon>opacity icon</mat-icon> Badania
</button>
<button mat-button [routerLink]="['/vaccination-list']" routerLinkActive="router-link-active">
    <mat-icon>spa</mat-icon> Szczepienia
</button>
<button mat-button>
    <mat-icon>shopping_basket</mat-icon> Pakiety medyczne dla firm
</button>
<button mat-button>
    <mat-icon>shopping_cart</mat-icon> Pakiety medyczne indywidualne
</button>
<button mat-button>
    <mat-icon>local_hospital</mat-icon> Szpital
</button>
<button mat-button>
    <mat-icon>contact_mail</mat-icon> Kontakt
</button>
<button mat-button [routerLink]="['/patients-portal']" routerLinkActive="router-link-active">
    <mat-icon>person</mat-icon> Portal pacjenta
</button>