.form-container > mat-form-field {
    display: block;
    flex-direction: row;
    margin: 30px;
}

.form-container {
    width: 40%;
}

.mat-radio-button{
    margin-left: 30px;
}

div.form-container > button{
    float: right;
}

