<form [formGroup]="registrationForm" (ngSubmit)="ngOnSubmit()">
    <div class="form-container">
        <mat-form-field>
            <mat-label>Imię</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Nazwisko</mat-label>
            <input matInput formControlName="surname">
        </mat-form-field>
        <mat-radio-group formControlName="sex">
            <mat-radio-button *ngFor="let gender of genders" [value]="gender">{{gender}}</mat-radio-button>
        </mat-radio-group>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Pesel</mat-label>
            <input matInput formControlName="pesel">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Ulica</mat-label>
            <input matInput formControlName="addressStreet">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Numer budynku</mat-label>
            <input matInput formControlName="addressBuildingNumber">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Numer mieszkania</mat-label>
            <input matInput formControlName="addressFlatNumber">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Kod pocztowy</mat-label>
            <input matInput formControlName="addressZipCode">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Miasto</mat-label>
            <input matInput formControlName="addressCity">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Kraj</mat-label>
            <input matInput formControlName="addressCountry">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Rola</mat-label>
            <mat-select formControlName="role">
                <mat-option *ngFor="let role of roles" [value]="role">{{role}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Data urodzenia</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="birthDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Hasło</mat-label>
            <input matInput formControlName="password">
        </mat-form-field>
        <button mat-button type="submit">Wyślij</button>
    </div>
</form>