<div fxLayout="row" fxLayoutAlign="space-around center" *ngFor="let orgUnit of orgUnitByCity">
    <div class="container">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    {{orgUnit.name}}
                </mat-card-title>
                <mat-card-subtitle>
                    Śródmieście
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <img mat-card-image src={{orgUnit.imageUrl}} />
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div class="address-field">
                        <p>ul. {{orgUnit.addressStreet | titlecase}} {{orgUnit.addressBuildingNumber}}</p>
                        <p>
                            {{orgUnit.addressZipCode}} {{orgUnit.addressCity | titlecase}}
                        </p>
                    </div>
                    <div>
                        <button mat-button (click)="openGoogleMap(orgUnit.addressLatitude, orgUnit.addressLongitude)"> 
                            <mat-icon>place</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

