<div class="news-info">
    <mat-toolbar>
        <span>{{title}}</span>
    </mat-toolbar>
    <p>{{'infoPage.title' | translate :{'name':'Agata'} }}</p>
    <p>{{'infoPage.subtitle' | translate}}</p>
    <div fxLayout="row" fxLayoutAlign="space-around center">
        <mat-card class="new-info-card">
            <mat-card-header>
                <div mat-card-avatar class="first-card-avatar"></div>
                <mat-card-title class="text-oneline">
                    <p>Nowe szczepienia!</p>
                </mat-card-title>
                <mat-card-subtitle>
                    <p>
                        Zaszczep się na koronawirusa.
                    </p>
                </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../../assets/images/vaccination.jpg" alt="Photo of syringe">
            <mat-card-content>
                <p>W związku ze zwiększoną zachorowalnością na koronawirusa</p>
                <p>proponujemy nowej generacji szczepienia.</p>
                <p>Nie czekaj, zaszczep się już dziś!.</p>
            </mat-card-content>
            <mat-card-actions class="center">
                <button mat-button>Dowiedz się więcej</button>
                <button mat-button routerLink="vaccination-form">Zapisz się</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="new-info-card">example of angular material card</mat-card>
    </div>
</div>