.news-info{
    background-color: cadetblue;
}

h1{
    color: rgb(250, 250, 250);
    padding: 20px;
}

mat-card {
    padding: 20px;
    background-color: rgb(250, 250, 250);
    margin:30px;
}

.new-info-card{
    max-width: 400px;
}

.first-card-avatar {
    background-image: url('../../../../assets/images/syringe.jpg');
    background-size: cover;
}

.first-card-image {
    background-image: url('../../../../assets/images/vaccination.jpg');
    background-size: cover;
}