<!-- <div fxLayout="column" fxLayoutAlign="end stretch">
    <app-navbar></app-navbar>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
</div> -->

<div class="content" fxLayout="column" fxLayoutAlign=" none">
    <app-navbar></app-navbar>
    <div class="content-inside">
        <router-outlet></router-outlet>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>