<div class="buttons-center">
    <button mat-button>
        Zaloguj się
    </button>
    <button mat-button [routerLink]="['/registration-form']" routerLinkActive="router-link-active" >
        Zarejestruj się
    </button>
</div>