<footer>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div></div>
        <p>{{'footer.info' | translate}}</p>
        <div fxLayout="row">
            <img src='../../../../assets/images/polishFlag.jpg' (click)="useLanguage('pl')">
            <img src='../../../../assets/images/englishFlag.jpg' (click)="useLanguage('en')">
        </div>
    </div>
</footer>