footer{
  background-color: coral;
  height: 50px;
}

img {
  border-radius: 50%;
  width: 35px;
  border: 1px #555;
  height: 35px;
  cursor: pointer;
  padding: 10px;
}

img :hover {
  color: green;
  box-shadow: chartreuse;
}

.display-items > p,
.display-items > img {
  display: inline;
}
