<mat-horizontal-stepper labelPosition="bottom">
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Twoje dane</ng-template>
            <div class="container">
                <mat-form-field>
                    <mat-label>Imię</mat-label>
                    <input matInput placeholder="Podaj swoje imię" formControlName="firstCtrl" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Nazwisko</mat-label>
                    <input matInput placeholder="Podaj swoje nazwisko" formControlName="firstCtrl" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Numer telefonu</mat-label>
                    <input matInput placeholder="Podaj numer telefonu" formControlName="firstCtrl" required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperNext>Następne</button>
                </div>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" required>
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Twój adres</ng-template>
            <div class="container">
                <mat-form-field>
                    <mat-label>Street name</mat-label>
                    <input matInput formControlName="secondCtrl" placeholder="Ulica" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Building number</mat-label>
                    <input matInput formControlName="secondCtrl" placeholder="Numer budynku" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Post code</mat-label>
                    <input matInput formControlName="secondCtrl" placeholder="Kod pocztowy" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>City</mat-label>
                    <input matInput formControlName="secondCtrl" placeholder="Miasto" required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Wróc</button>
                    <button mat-button matStepperNext>Następne</button>
                </div>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" required>
        <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>Dodatkowe informacje</ng-template>
            <div class="container">
                <mat-checkbox>Zaznacz jeśli prosisz o wcześniejszą konsultację z lakarzem</mat-checkbox>
                <mat-form-field>
                    <h3>Preferowany termin szczepienia</h3>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-radio-group aria-label="Wybierz właściwe">
                    <p>Czy wykonywałeś to szczepienie w przeszłości?</p>
                    <mat-radio-button value="1">Tak</mat-radio-button>
                    <mat-radio-button value="0">Nie</mat-radio-button>
                </mat-radio-group>
                <mat-form-field>
                    <h4>Wybierz placówkę</h4>
                    <mat-select>
                        <mat-option *ngFor="let orgUnit of orgUnits" [value]="orgUnit.value">
                            {{orgUnit.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>

    </mat-step>
</mat-horizontal-stepper>