@import '~@angular/material/theming';

.container {
  padding: 30px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
  justify-content: center;
}

.mat-elevation-z8 {
  @include mat-elevation(15);
}