<!-- <div class="add-new-button" [routerLink]="['/vaccination-create-new']" routerLinkActive="router-link-active">
    <button mat-button>Dodaj nowe</button>
</div>
<table>
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Cena</th>
            <th>Minimalny wiek</th>
            <th>Placówka</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let v of vaccinations">
            <td>{{v.vaccinationName}}</td>
            <td>{{v.price | currency:'PLN': 'symbol'}}</td>
            <td>{{v.minAge}}</td>
            <td>{{v.orgUnit}}</td>
            <td><button mat-button [routerLink]="['/vaccination-form']" routerLinkActive="router-link-active">Zapisz
                    się!</button></td>
        </tr>
    </tbody>
</table> -->
<div class="container">
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Filter element..." #input>
    </mat-form-field>
    <div class="mat-elevation-z8">
        <table mat-table matSort [dataSource]="dataSource">
            <!-- id column-->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Identyfikator</th>
                <td mat-cell *matCellDef="let element"> {{element.id}}</td>
            </ng-container>
            <!-- vaccination name column -->
            <ng-container matColumnDef="vaccinationName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nazwa</th>
                <td mat-cell *matCellDef="let element"> {{element.vaccinationName}}</td>
            </ng-container>
            <!-- price column -->
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Cena</th>
                <td mat-cell *matCellDef="let element"> {{element.price}}</td>
            </ng-container>
            <!-- minAge column -->
            <ng-container matColumnDef="minAge">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Minimalny wiek</th>
                <td mat-cell *matCellDef="let element"> {{element.minAge}}</td>
            </ng-container>
            <!-- organization unit column -->
            <ng-container matColumnDef="orgUnit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Budynek</th>
                <td mat-cell *matCellDef="let element"> {{element.orgUnit}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>